## Categorizing Ordinal Data

In [163]:
train_data.columns

Index(['index', 'Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage',
       'Lot Area', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'SalePrice', 'split'],
      dtype='object')

In [164]:
train_data.dtypes

index           int64
Id              int64
PID             int64
MS SubClass     int64
MS Zoning      object
                ...
Mo Sold         int64
Yr Sold         int64
Sale Type      object
SalePrice       int64
split          object
Length: 83, dtype: object

#### Lot Shape

|Lot Shape (Ordinal): |General shape of property|Scale in dataframe|
|---------------------|------------------------|-------------------|
|Reg|Regular|3|
|IR1	|Slightly irregular|2|
       |IR2	|Moderately Irregular|1|
       |IR3	|Irregular|0|

In [165]:
combined.groupby(['Lot Shape']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Lot Shape,,,,,,,,,,,,,,,,,,,,,
IR1,966,966,966,966,966,966,966,966,966,966,...,966,966,966,966,966,966,966,966,680,966
IR2,75,75,75,75,75,75,75,75,75,75,...,75,75,75,75,75,75,75,75,54,75
IR3,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,9,16
Reg,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,...,1847,1847,1847,1847,1847,1847,1847,1847,1283,1847

In [166]:
combined['Lot Shape'] = combined['Lot Shape'].map({'Reg':3, 'IR1':2, 'IR2':1, 'IR3':0})

In [167]:
combined['Lot Shape'].head()

0    2
1    2
2    3
3    3
4    2
Name: Lot Shape, dtype: int64

In [168]:
combined['Lot Shape'].isnull().sum()

0

#### Utilities

|Utilities (Ordinal):| Type of utilities available|Scale in dataframe|
|--------------------|----------------------------|------------------|
|AllPub	|All public Utilities (E,G,W,& S)	|3|
|NoSewr|	Electricity, Gas, and Water (Septic Tank)|2|
|NoSeWa|	Electricity and Gas Only|1|
|ELO	|Electricity only|0|

In [169]:
combined.groupby(['Utilities']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Utilities,,,,,,,,,,,,,,,,,,,,,
AllPub,2901,2901,2901,2901,2901,2901,2901,2901,2901,2901,...,2901,2901,2901,2901,2901,2901,2901,2901,2024,2901
NoSeWa,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NoSewr,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,2

In [170]:
combined['Utilities'] = combined['Utilities'].map({'AllPub':3, 'NoSewr':2, 'NoSeWa':1, 'ELO':0})

In [171]:
combined['Utilities'].head()

0    3
1    3
2    3
3    3
4    3
Name: Utilities, dtype: int64

In [172]:
combined['Utilities'].isnull().sum()

0

#### Land Slope
|Land Slope (Ordinal):| Slope of property|Scale in dataframe|
|---------------------|------------------|------------------|
|Gtl|	Gentle slope|2|
|Mod|Moderate Slope	|1|
|Sev|Severe Slope|0|

In [173]:
combined.groupby(['Land Slope']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Land Slope,,,,,,,,,,,,,,,,,,,,,
Gtl,2763,2763,2763,2763,2763,2763,2763,2763,2763,2763,...,2763,2763,2763,2763,2763,2763,2763,2763,1928,2763
Mod,125,125,125,125,125,125,125,125,125,125,...,125,125,125,125,125,125,125,125,88,125
Sev,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,10,16

In [174]:
combined['Land Slope'] = combined['Land Slope'].map({'Gtl':2, 'Mod':1, 'Sev':0})

In [175]:
combined['Land Slope'].head()

0    2
1    2
2    2
3    2
4    2
Name: Land Slope, dtype: int64

In [176]:
combined['Land Slope'].isnull().sum()

0

#### Overall Qual 
Overall Qual (Ordinal): Rates the overall material and finish of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average
       5	Average
       4	Below Average
       3	Fair
       2	Poor
       1	Very Poor

No need to clean

#### Overall Condition
Overall Cond (Ordinal): Rates the overall condition of the house

       10	Very Excellent
       9	Excellent
       8	Very Good
       7	Good
       6	Above Average	
       5	Average
       4	Below Average	
       3	Fair
       2	Poor
       1	Very Poor
       
No need to clean

#### Exterior Quality
|Exter Qual (Ordinal): |Evaluates the quality of the material on the exterior |Scale in dataframe|
|----------------------|------------------------------------------------------|------------------|
|Ex	|Excellent|4|
|Gd	|Good|3|
|TA	|Average/Typical|2|
|Fa	|Fair|1|
|Po	|Poor|0|

In [177]:
combined.groupby(['Exter Qual']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Exter Qual,,,,,,,,,,,,,,,,,,,,,
Ex,105,105,105,105,105,105,105,105,105,105,...,105,105,105,105,105,105,105,105,80,105
Fa,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,26,35
Gd,969,969,969,969,969,969,969,969,969,969,...,969,969,969,969,969,969,969,969,677,969
TA,1795,1795,1795,1795,1795,1795,1795,1795,1795,1795,...,1795,1795,1795,1795,1795,1795,1795,1795,1243,1795

In [178]:
combined['Exter Qual'] = combined['Exter Qual'].map({'Ex':4, 'Gd':3, 'TA':2, 'Fa':1, 'Po':0})

In [179]:
combined['Exter Qual'].head()

0    3
1    3
2    2
3    2
4    2
Name: Exter Qual, dtype: int64

In [180]:
combined['Exter Qual'].isnull().sum()

0

#### Exterior Condition
|Exter Cond (Ordinal): |Evaluates the present condition of the material on the exterior|Scale in dataframe|
|----------------------|---------------------------------------------------------------|------------------|
|Ex	|Excellent|4|
|Gd	|Good|3|
|TA	|Average/Typical|2|
|Fa	|Fair|1|
|Po	|Poor|0|

In [181]:
combined.groupby(['Exter Cond']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Exter Cond,,,,,,,,,,,,,,,,,,,,,
Ex,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,7,12
Fa,67,67,67,67,67,67,67,67,67,67,...,67,67,67,67,67,67,67,67,49,67
Gd,299,299,299,299,299,299,299,299,299,299,...,299,299,299,299,299,299,299,299,215,299
Po,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,2,3
TA,2523,2523,2523,2523,2523,2523,2523,2523,2523,2523,...,2523,2523,2523,2523,2523,2523,2523,2523,1753,2523

In [182]:
combined['Exter Cond'] = combined['Exter Cond'].map({'Ex':4, 'Gd':3, 'TA':2, 'Fa':1, 'Po':0})

In [183]:
combined['Exter Cond'].isnull().sum()

0

In [184]:
combined['Exter Cond'].head()

0    2
1    2
2    3
3    2
4    2
Name: Exter Cond, dtype: int64

#### Bsmt Qual
|Bsmt Qual (Ordinal):| Evaluates the height of the basement|Scale in dataframe|
|--------------------|-------------------------------------|------------------|
|Ex	|Excellent (100+ inches)	|6|
       |Gd	|Good (90-99 inches)|5|
      | TA	|Typical (80-89 inches)|4|
      | Fa	|Fair (70-79 inches)|3|
      | Po	|Poor (<70 inches|2|
       |NA	|No Basement|1|
       |0|Missing values|0|

In [185]:
combined.groupby(['Bsmt Qual']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Bsmt Qual,,,,,,,,,,,,,,,,,,,,,
0,78,78,78,78,78,78,78,78,78,78,...,78,78,78,78,78,78,78,78,53,78
Ex,250,250,250,250,250,250,250,250,250,250,...,250,250,250,250,250,250,250,250,177,250
Fa,88,88,88,88,88,88,88,88,88,88,...,88,88,88,88,88,88,88,88,60,88
Gd,1204,1204,1204,1204,1204,1204,1204,1204,1204,1204,...,1204,1204,1204,1204,1204,1204,1204,1204,849,1204
Po,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,2
TA,1282,1282,1282,1282,1282,1282,1282,1282,1282,1282,...,1282,1282,1282,1282,1282,1282,1282,1282,886,1282

In [186]:
combined['Bsmt Qual'] = combined['Bsmt Qual'].map({'Ex':6, 'Gd':5, 'TA':4, 'Fa':3,'Po':2, 'NA':1, 0:0})

In [187]:
combined['Bsmt Qual'].isnull().sum()

0

In [188]:
combined['Bsmt Qual'].head()

0    4
1    5
2    4
3    5
4    3
Name: Bsmt Qual, dtype: int64

#### Bsmt Condition
|Bsmt Cond (Ordinal):| Evaluates the general condition of the basement|Scale in dataframe|
|--------------------|------------------------------------------------|------------------|
|Ex	|Excellent|6|
       |Gd	|Good|5|
       |TA	|Typical - slight dampness allowed|4|
       |Fa	|Fair - dampness or some cracking or settling|3|
       |Po	|Poor - Severe cracking, settling, or wetness|2|
       |NA	|No Basement|1|
       |0|Missing Values|0|

In [189]:
combined.groupby(['Bsmt Cond']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Bsmt Cond,,,,,,,,,,,,,,,,,,,,,
0,78,78,78,78,78,78,78,78,78,78,...,78,78,78,78,78,78,78,78,53,78
Ex,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
Fa,104,104,104,104,104,104,104,104,104,104,...,104,104,104,104,104,104,104,104,65,104
Gd,120,120,120,120,120,120,120,120,120,120,...,120,120,120,120,120,120,120,120,87,120
Po,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
TA,2594,2594,2594,2594,2594,2594,2594,2594,2594,2594,...,2594,2594,2594,2594,2594,2594,2594,2594,1813,2594

In [190]:
combined['Bsmt Cond'] = combined['Bsmt Cond'].map({'Ex':6, 'Gd':5, 'TA':4, 'Fa':3,'Po':2, 'NA':1, 0:0})

In [191]:
combined['Bsmt Cond'].isnull().sum()

0

In [192]:
combined['Bsmt Cond'].head()

0    4
1    4
2    4
3    4
4    5
Name: Bsmt Cond, dtype: int64

#### Bsmt Exposure
|Bsmt Exposure	(Ordinal): |Refers to walkout or garden level walls|Scale in Dataframe|
|--------------------------|---------------------------------------|------------------|
|Gd	|Good Exposure|4|
       |Av	|Average Exposure (split levels or foyers typically score average or above)	|3|
       |Mn	|Mimimum Exposure|3|
       |No	|No Exposure|2|
       |NA	|No Basement|1|
       |0|Missing Values|0|

In [193]:
combined.groupby(['Bsmt Exposure']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Bsmt Exposure,,,,,,,,,,,,,,,,,,,,,
0,81,81,81,81,81,81,81,81,81,81,...,81,81,81,81,81,81,81,81,56,81
Av,414,414,414,414,414,414,414,414,414,414,...,414,414,414,414,414,414,414,414,284,414
Gd,282,282,282,282,282,282,282,282,282,282,...,282,282,282,282,282,282,282,282,202,282
Mn,239,239,239,239,239,239,239,239,239,239,...,239,239,239,239,239,239,239,239,163,239
No,1888,1888,1888,1888,1888,1888,1888,1888,1888,1888,...,1888,1888,1888,1888,1888,1888,1888,1888,1321,1888

In [194]:
combined['Bsmt Exposure'] = combined['Bsmt Exposure'].map({'Gd':4, 'Av':3,'Mn':3,'No':2, 'NA':1, 0:0})

In [195]:
combined['Bsmt Exposure'].head()

0    2
1    2
2    2
3    2
4    2
Name: Bsmt Exposure, dtype: int64

In [196]:
combined['Bsmt Exposure'].isnull().sum()

0

#### Bsmt finished area
|BsmtFin Type 1	(Ordinal):| Rating of basement finished area|Scale in dataframe|
|-------------------------|---------------------------------|------------------|
|GLQ|	Good Living Quarters|7|
       |ALQ|	Average Living Quarters|6|
       |BLQ	|Below Average Living Quarters|5	|
       |Rec	|Average Rec Room|4|
       |LwQ	|Low Quality|3|
       |Unf	|Unfinshed|2|
       |NA	|No Basement|1|
       |0|Missing Values|0|

In [197]:
combined.groupby(['BsmtFin Type 1']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
BsmtFin Type 1,,,,,,,,,,,,,,,,,,,,,
0,78,78,78,78,78,78,78,78,78,78,...,78,78,78,78,78,78,78,78,53,78
ALQ,428,428,428,428,428,428,428,428,428,428,...,428,428,428,428,428,428,428,428,292,428
BLQ,269,269,269,269,269,269,269,269,269,269,...,269,269,269,269,269,269,269,269,200,269
GLQ,847,847,847,847,847,847,847,847,847,847,...,847,847,847,847,847,847,847,847,604,847
LwQ,154,154,154,154,154,154,154,154,154,154,...,154,154,154,154,154,154,154,154,102,154
Rec,287,287,287,287,287,287,287,287,287,287,...,287,287,287,287,287,287,287,287,182,287
Unf,841,841,841,841,841,841,841,841,841,841,...,841,841,841,841,841,841,841,841,593,841

In [198]:
combined['BsmtFin Type 1'] = combined['BsmtFin Type 1'].map({'GLQ':7, 'ALQ':6, 'BLQ':5, 'Rec':4, 'LwQ':3, 'Unf':2, 'NA':1, 0:0})

In [199]:
combined['BsmtFin Type 1'].isnull().sum()

0

In [200]:
combined['BsmtFin Type 1'].head()

0    7
1    7
2    7
3    2
4    2
Name: BsmtFin Type 1, dtype: int64

#### Bsmt Finished Type 2
|BsmtFin Type 2	(Ordinal):| Rating of basement finished area|Scale in dataframe|
|-------------------------|---------------------------------|------------------|
|GLQ|	Good Living Quarters|7|
       |ALQ|	Average Living Quarters|6|
       |BLQ	|Below Average Living Quarters|5	|
       |Rec	|Average Rec Room|4|
       |LwQ	|Low Quality|3|
       |Unf	|Unfinshed|2|
       |NA	|No Basement|1|
       |0|Missing Values|0|

In [201]:
combined.groupby(['BsmtFin Type 2']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
BsmtFin Type 2,,,,,,,,,,,,,,,,,,,,,
0,79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,54,79
ALQ,52,52,52,52,52,52,52,52,52,52,...,52,52,52,52,52,52,52,52,34,52
BLQ,68,68,68,68,68,68,68,68,68,68,...,68,68,68,68,68,68,68,68,48,68
GLQ,34,34,34,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,23,34
LwQ,89,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,60,89
Rec,106,106,106,106,106,106,106,106,106,106,...,106,106,106,106,106,106,106,106,80,106
Unf,2476,2476,2476,2476,2476,2476,2476,2476,2476,2476,...,2476,2476,2476,2476,2476,2476,2476,2476,1727,2476

In [202]:
combined['BsmtFin Type 2'] = combined['BsmtFin Type 2'].map({'GLQ':7, 'ALQ':6, 'BLQ':5, 'Rec':4, 'LwQ':3, 'Unf':2, 'NA':1, 0:0})

In [203]:
combined['BsmtFin Type 2'].isnull().sum()

0

In [204]:
combined['BsmtFin Type 2'].head()

0    2
1    2
2    2
3    2
4    2
Name: BsmtFin Type 2, dtype: int64

### Heating QC
|HeatingQC (Ordinal): |Heating quality and condition|Scale in dataframe|
|---------------------|-----------------------------|------------------|
       |Ex	|Excellent|4|
       |Gd	|Good|3|
       |TA	|Average/Typical|2|
       |Fa	|Fair|1|
       |Po	|Poor|0|

In [205]:
combined.groupby(['Heating QC']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Heating QC,,,,,,,,,,,,,,,,,,,,,
Ex,1472,1472,1472,1472,1472,1472,1472,1472,1472,1472,...,1472,1472,1472,1472,1472,1472,1472,1472,1043,1472
Fa,92,92,92,92,92,92,92,92,92,92,...,92,92,92,92,92,92,92,92,67,92
Gd,476,476,476,476,476,476,476,476,476,476,...,476,476,476,476,476,476,476,476,319,476
Po,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
TA,861,861,861,861,861,861,861,861,861,861,...,861,861,861,861,861,861,861,861,594,861

In [206]:
combined['Heating QC'] = combined['Heating QC'].map({
    'Ex':4,
    'Gd':3,
    'TA':2,
    'Fa':1,
    'Po':0
})

In [207]:
combined['Heating QC'].isnull().sum()

0

In [208]:
combined['Heating QC'].head()

0    4
1    4
2    2
3    3
4    2
Name: Heating QC, dtype: int64

		
|Electrical (Ordinal): |Electrical system|Scale in dataframe|
|-|-|-|
|SBrkr	|Standard Circuit Breakers & Romex|3|
       |FuseA	|Fuse Box over 60 AMP and all Romex wiring (Average)	|2|
       |FuseF	|60 AMP Fuse Box and mostly Romex wiring (Fair)|1|
       |FuseP	|60 AMP Fuse Box and mostly knob & tube wiring (poor)|0|
       |Mix	|Mixed|1.5|

In [209]:
combined.groupby(['Electrical']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Electrical,,,,,,,,,,,,,,,,,,,,,
FuseA,187,187,187,187,187,187,187,187,187,187,...,187,187,187,187,187,187,187,187,139,187
FuseF,50,50,50,50,50,50,50,50,50,50,...,50,50,50,50,50,50,50,50,35,50
FuseP,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,7,8
Mix,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,1
SBrkr,2657,2657,2657,2657,2657,2657,2657,2657,2657,2657,...,2657,2657,2657,2657,2657,2657,2657,2657,1844,2657

In [210]:
combined['Electrical'] = combined['Electrical'].map({
    'SBrkr':3,
    'FuseA':2,
    'FuseF':1,
    'FuseP':0,
    'Mix':1.5,
    'NA':0
    
})

In [211]:
combined['Electrical'].head()

0    3.0
1    3.0
2    3.0
3    3.0
4    3.0
Name: Electrical, dtype: float64

In [212]:
combined['Electrical'].isnull().sum()

0

#### Kitchen Quality
|KitchenQual (Ordinal): |Kitchen quality|Scale in dataframe|
|-|-|-|
       |Ex	|Excellent|4|
       |Gd	|Good|3|
       |TA	|Typical/Average|2|
       |Fa	|Fair|1|
       |Po	|Poor|0|

In [213]:
combined.groupby(['Kitchen Qual']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Kitchen Qual,,,,,,,,,,,,,,,,,,,,,
Ex,199,199,199,199,199,199,199,199,199,199,...,199,199,199,199,199,199,199,199,146,199
Fa,70,70,70,70,70,70,70,70,70,70,...,70,70,70,70,70,70,70,70,47,70
Gd,1143,1143,1143,1143,1143,1143,1143,1143,1143,1143,...,1143,1143,1143,1143,1143,1143,1143,1143,789,1143
Po,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,1
TA,1491,1491,1491,1491,1491,1491,1491,1491,1491,1491,...,1491,1491,1491,1491,1491,1491,1491,1491,1044,1491

In [214]:
combined['Kitchen Qual'] = combined['Kitchen Qual'].map({
    'Ex':4,
    'Gd':3,
    'TA':2,
    'Fa':1,
    'Po':0
    
})

In [215]:
combined['Kitchen Qual'].isnull().sum()

0

In [216]:
combined['Kitchen Qual'].head()

0    3
1    3
2    3
3    2
4    2
Name: Kitchen Qual, dtype: int64

#### Functional
|Functional (Ordinal): |Home functionality (Assume typical unless deductions are warranted)|Scale in dataframe|
|-|-|-|
|Typ	|Typical Functionality|7|
       |Min1	|Minor Deductions 1|6|
       |Min2	|Minor Deductions 2|5|
       |Mod	|Moderate Deductions|4|
       |Maj1	|Major Deductions 1|3|
       |Maj2	|Major Deductions 2|2|
       |Sev	|Severely Damaged|1|
       |Sal	|Salvage only|0|

In [217]:
combined.groupby(['Functional']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Functional,,,,,,,,,,,,,,,,,,,,,
Maj1,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,11,18
Maj2,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,7,9
Min1,65,65,65,65,65,65,65,65,65,65,...,65,65,65,65,65,65,65,65,42,65
Min2,70,70,70,70,70,70,70,70,70,70,...,70,70,70,70,70,70,70,70,42,70
Mod,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,29,35
Sal,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Sev,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Typ,2703,2703,2703,2703,2703,2703,2703,2703,2703,2703,...,2703,2703,2703,2703,2703,2703,2703,2703,1891,2703

In [218]:
combined['Functional'] = combined['Functional'].map({
    'Typ':7,
    'Min1':6,
    'Min2':5,
    'Mod':4,
    'Maj1':3,
    'Maj2':2,
    'Sev':1,
    'Sal':0
    
})

In [219]:
combined['Functional'].isnull().sum()

0

In [220]:
combined['Functional'].head()

0    7
1    7
2    7
3    7
4    7
Name: Functional, dtype: int64

#### Fireplace quality
|FireplaceQu (Ordinal):| Fireplace quality|Scale in dataframe|
|-|-|-|
       |Ex	|Excellent - Exceptional Masonry Fireplace|6|
      | Gd	|Good - Masonry Fireplace in main level|5|
       |TA	|Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement|4|
       |Fa	|Fair - Prefabricated Fireplace in basement|3|
       |Po	|Poor - Ben Franklin Stove|2|
       |NA	|No Fireplace|0|
		|0|Missing values|0

In [221]:
combined.groupby(['Fireplace Qu']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Fireplace Qu,,,,,,,,,,,,,,,,,,,,,
0,1412,1412,1412,1412,1412,1412,1412,1412,1412,1412,...,1412,1412,1412,1412,1412,1412,1412,1412,990,1412
Ex,43,43,43,43,43,43,43,43,43,43,...,43,43,43,43,43,43,43,43,31,43
Fa,75,75,75,75,75,75,75,75,75,75,...,75,75,75,75,75,75,75,75,59,75
Gd,733,733,733,733,733,733,733,733,733,733,...,733,733,733,733,733,733,733,733,513,733
Po,46,46,46,46,46,46,46,46,46,46,...,46,46,46,46,46,46,46,46,31,46
TA,595,595,595,595,595,595,595,595,595,595,...,595,595,595,595,595,595,595,595,402,595

In [222]:
combined['Fireplace Qu'] = combined['Fireplace Qu'].map({
   'Ex':6,
    'Gd':5,
    'TA':4,
    'Fa':3,
    'Po':2,
    'NA':0,
    0:0
})

In [223]:
combined['Fireplace Qu'].isnull().sum()

0

In [224]:
combined['Fireplace Qu'].head()

0    0
1    4
2    0
3    0
4    0
Name: Fireplace Qu, dtype: int64

#### Garage Finish
|Garage Finish (Ordinal)	: |Interior finish of the garage|Scale in dataframe|
|-|-|-|
|Fin	|Finished|4|
      | RFn	|Rough Finished	|3|
       |Unf	|Unfinished|2|
       |NA	|No Garage|1|
       |0|Missing values|0|

In [225]:
combined.groupby(['Garage Finish']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Garage Finish,,,,,,,,,,,,,,,,,,,,,
0,157,157,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,112,157
Fin,715,715,715,715,715,715,715,715,715,715,...,715,715,715,715,715,715,715,715,497,715
RFn,805,805,805,805,805,805,805,805,805,805,...,805,805,805,805,805,805,805,805,572,805
Unf,1227,1227,1227,1227,1227,1227,1227,1227,1227,1227,...,1227,1227,1227,1227,1227,1227,1227,1227,845,1227

In [226]:
combined['Garage Finish'] = combined['Garage Finish'].map({
   'Fin':4,
    'RFn':3,
    'Unf':3,
    'NA':1,
    0:0
})

In [227]:
combined['Garage Finish'].isnull().sum()

0

In [228]:
combined['Garage Finish'].head()

0    3
1    3
2    3
3    4
4    3
Name: Garage Finish, dtype: int64

#### Garage Quality
|Garage Qual (Ordinal): |Garage quality|Scale in dataframe|
|-|-|-|
       |Ex	|Excellent|5|
       |Gd	|Good|4|
       |TA	|Typical/Average|3|
       |Fa	|Fair|2|
       |Po	|Poor|1|
       |0|Missing values|0|

In [229]:
combined.groupby(['Garage Qual']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Garage Qual,,,,,,,,,,,,,,,,,,,,,
0,157,157,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,112,157
Ex,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
Fa,124,124,124,124,124,124,124,124,124,124,...,124,124,124,124,124,124,124,124,82,124
Gd,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,18,24
Po,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,2,5
TA,2591,2591,2591,2591,2591,2591,2591,2591,2591,2591,...,2591,2591,2591,2591,2591,2591,2591,2591,1809,2591

In [230]:
combined['Garage Qual'] = combined['Garage Qual'].map({
    'Ex':4,
    'Gd':3,
    'TA':2,
    'Fa':1,
    'Po':0,
    0:0
    
})

In [231]:
combined['Garage Qual'].isnull().sum()

0

In [232]:
combined['Garage Qual'].head()

0    2
1    2
2    2
3    2
4    2
Name: Garage Qual, dtype: int64

#### Garage Condition
|Garage Cond (Ordinal): |Garage condition|Scale in dataframe|
|-|-|-|
       |Ex	|Excellent|5|
       |Gd	|Good|4|
       |TA	|Typical/Average|3|
       |Fa	|Fair|2|
       |Po	|Poor|1|
       |0|Missing values|0|

In [233]:
combined.groupby(['Garage Cond']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Garage Cond,,,,,,,,,,,,,,,,,,,,,
0,157,157,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,112,157
Ex,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,2,3
Fa,74,74,74,74,74,74,74,74,74,74,...,74,74,74,74,74,74,74,74,47,74
Gd,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,12,15
Po,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,8,14
TA,2641,2641,2641,2641,2641,2641,2641,2641,2641,2641,...,2641,2641,2641,2641,2641,2641,2641,2641,1845,2641

In [234]:
combined['Garage Cond'] = combined['Garage Cond'].map({
    'Ex':4,
    'Gd':3,
    'TA':2,
    'Fa':1,
    'Po':0,
    0:0
    
})

In [235]:
combined['Garage Cond'].isnull().sum()

0

In [236]:
combined['Garage Cond'].head()

0    2
1    2
2    2
3    2
4    2
Name: Garage Cond, dtype: int64

#### Paved Drive	
|Paved Drive (Ordinal): |Paved driveway|Scale in dataframe|
|-|-|-|
    | Y	|Paved |2|
     |  P	|Partial Pavement|1|
      | N	|Dirt/Gravel|0|

In [237]:
combined.groupby(['Paved Drive']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Paved Drive,,,,,,,,,,,,,,,,,,,,,
N,215,215,215,215,215,215,215,215,215,215,...,215,215,215,215,215,215,215,215,150,215
P,62,62,62,62,62,62,62,62,62,62,...,62,62,62,62,62,62,62,62,39,62
Y,2627,2627,2627,2627,2627,2627,2627,2627,2627,2627,...,2627,2627,2627,2627,2627,2627,2627,2627,1837,2627

In [238]:
combined['Paved Drive'] = combined['Paved Drive'].map({
    'Y':2,
    'P':1,
    'N':0
    
})

In [239]:
combined['Paved Drive'].isnull().sum()

0

In [240]:
combined['Paved Drive'].head()

0    2
1    2
2    2
3    2
4    0
Name: Paved Drive, dtype: int64

#### Pool QC
|Pool QC (Ordinal):| Pool quality|Scale in Dataframe|
|-|-|-|
|Ex	|Excellent|4|
      | Gd	|Good|3|
       |TA	|Average/Typical|2|
       |Fa	|Fair|1|
       |NA	|No Pool|0|
       |0|Missing values|0|

In [241]:
combined.groupby(['Pool QC']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Screen Porch,Pool Area,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Pool QC,,,,,,,,,,,,,,,,,,,,,
0,2891,2891,2891,2891,2891,2891,2891,2891,2891,2891,...,2891,2891,2891,2891,2891,2891,2891,2891,2017,2891
Ex,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,1,4
Fa,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Gd,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
TA,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,2,3

In [242]:
combined['Pool QC'] = combined['Pool QC'].map({
    'Ex':4,
    'Gd':3,
    'TA':2,
    'Fa':1,
    'NA':0,
    0:0
    
})

In [243]:
combined['Pool QC'].isnull().sum()

0

In [244]:
combined['Pool QC'].head()

0    0
1    0
2    0
3    0
4    0
Name: Pool QC, dtype: int64

#### Fence
|Fence (Ordinal): |Fence quality|Scale in dataframe|
|-|-|-|
       |GdPrv	|Good Privacy|4|
       |MnPrv	|Minimum Privacy|3|
       |GdWo	|Good Wood|2|
       |MnWw	|Minimum Wood/Wire|1|
       |NA	|No Fence|0|

In [245]:
combined.groupby(['Fence']).count()

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Screen Porch,Pool Area,Pool QC,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice,split
Fence,,,,,,,,,,,,,,,,,,,,,
0,2334,2334,2334,2334,2334,2334,2334,2334,2334,2334,...,2334,2334,2334,2334,2334,2334,2334,2334,1628,2334
GdPrv,118,118,118,118,118,118,118,118,118,118,...,118,118,118,118,118,118,118,118,83,118
GdWo,112,112,112,112,112,112,112,112,112,112,...,112,112,112,112,112,112,112,112,80,112
MnPrv,328,328,328,328,328,328,328,328,328,328,...,328,328,328,328,328,328,328,328,225,328
MnWw,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,10,12

In [246]:
combined['Fence'] = combined['Fence'].map({
    'GdPrv':4,
    'MnPrv':3,
    'GdWo':2,
    'MnWw':1,
    'NA':0,
    0:0
    
})

In [247]:
combined['Fence'].isnull().sum()

0

In [248]:
combined['Fence'].head()

0    0
1    0
2    0
3    0
4    0
Name: Fence, dtype: int64

In [249]:
train_data = combined[combined['split'] == 'Train']

In [250]:
test_data = combined[combined['split']=='Test']

In [251]:
train_data.to_csv('./datasets/cleaned_train.csv')

In [252]:
test_data.to_csv('./datasets/cleaned_test.csv')

In [253]:
train_data.drop(columns='split')

,index,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,0,109,533352170,60,RL,7420.122878,13517,Pave,NA,2,...,0,0,0,0,NA,0,3,2010,WD,130500.0
1,1,544,531379050,60,RL,43.000000,11492,Pave,NA,2,...,0,0,0,0,NA,0,4,2009,WD,220000.0
2,2,153,535304180,20,RL,68.000000,7922,Pave,NA,3,...,0,0,0,0,NA,0,1,2010,WD,109000.0
3,3,318,916386060,60,RL,73.000000,9802,Pave,NA,3,...,0,0,0,0,NA,0,4,2010,WD,174000.0
4,4,255,906425045,50,RL,82.000000,14235,Pave,NA,2,...,0,0,0,0,NA,0,3,2010,WD,138500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,2046,1587,921126030,20,RL,79.000000,11449,Pave,NA,2,...,0,0,0,0,NA,0,1,2008,WD,298751.0
2022,2047,785,905377130,30,RL,6775.040065,12342,Pave,NA,2,...,0,0,0,0,NA,0,3,2009,WD,82500.0
2023,2048,916,909253010,50,RL,57.000000,7558,Pave,NA,3,...,0,0,0,0,NA,0,3,2009,WD,177000.0
2024,2049,639,535179160,20,RL,80.000000,10400,Pave,NA,3,...,0,0,0,0,NA,0,11,2009,WD,144000.0
2025,2050,10,527162130,60,RL,60.000000,7500,Pave,NA,3,...,0,0,0,0,NA,0,6,2010,WD,189000.0